<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.java.mapper.OmsOrderMapper"><!--根节点：理解成当前xml文件是UserMapper的实现类-->
    <select id="getOrderByUserIdAndOrderNo" resultType="com.java.po.OmsOrder">
        select * from oms_order where user_id=#{userId} and order_no=#{orderNo};
    </select>

</mapper>